* {
	box-sizing: border-box;

}

h1 {
	text-align: center;
	font-family: "Tempus Sans ITC";
}

.div1, .div2, .div3 {
	float: left;
	width: 100%
}

.box {
	background-color: #17202A;
	border: 1px solid black;
	position: relative;
	margin: 10px 40px 20px 40px;
	font-size: 20px;
	font-family: "Trebuchet MS";
}

.text {
	padding: 35px 10px 20px 10px;
	font-size: 0.25em;
	box-sizing: border-box;
	color: #FDFEFE;
}

.title1 {
	background-color: #2E86C1;
	border: 1px solid black;
	padding: 5px;
	font-size: 0.75em;
	width: 200px;
	position: absolute;
	top: -1px;
	right: -1px;
	text-align: center;
}

.title2 {
	background-color: #F39C12;
	border: 1px solid black;
	padding: 5px;
	font-size: 0.75em;
	width: 200px;
	position: absolute;
	top: -1px;
	right: -1px;
	text-align: center;
}
.title3 {
	background-color: #C0392B;
	border: 1px solid black;
	padding: 5px;
	font-size: 0.75em;
	width: 200px;
	position: absolute;
	top: -1px;
	right: -1px;
	text-align: center;
}

@media (min-width: 992px){
	.div1, .div2, .div3{
		width: 33.3%
	}
	.box {
		margin: 10px 30px;
	}
}

@media (min-width: 768px) and (max-width:  991px){
	.div1, .div2 {
		width: 50%;
	}

}